<div id="log" class="modal fade" role="dialog">
		  <div class="modal-dialog">
		    <!-- Modal content-->
		    <div class="form-group" id="login">
			    <form action="">
					<h1>Login Form</h1>
					<div id="uname">
						<input #username class="form-control" type="text" placeholder="Username" required="" id="username" />
					</div>
					<div>
						<input #password class="form-control" type="password" placeholder="Password" required="" id="password" />
					</div>
					<div>
						<input id="loginbutton" type="button" (click)="loginUser(username.value,password.value)" value="Log in"><br>
						<a href="#">Lost your password?</a>
						<a href="#sign" data-target="#sign" data-toggle="modal" data-dismiss="modal">Register</a>
					</div>
				</form>
			</div>
		  </div>
		</div>