		<div class="col-md-3 asearch"  >
			<div scrollSpyElement="test" id="aser2">
				<form class="form-horizontal">
					<fieldset>

					<!-- Form Name -->
					<legend>Advanced Search</legend>

					<!-- Text input-->
					<div class="form-group">
					  <label class="col-md-4 control-label" for="searchtext">Search text:</label>  
					  <div class="col-md-8">
					  <input id="searchtext" name="searchtext" placeholder="Enter any text" class="form-control input-md" type="text">
					    
					  </div>
					</div>

					<!-- Text input-->
					<div class="form-group">
					  <label class="col-md-4 control-label" for="postedby">Posted by:</label>  
					  <div class="col-md-8">
					  <input id="postedby" name="postedby" placeholder="placeholder" class="form-control input-md" type="text">
					    
					  </div>
					</div>

					<!-- Text input-->
					<div class="form-group">
					  <label class="col-md-4 control-label" for="ondate">Posted on:</label>  
					  <div class="col-md-8">
					  <input id="ondate" name="ondate" placeholder="Enter specific date" class="form-control input-md" type="text">
					    
					  </div>
					</div>

					<!-- Search input-->
					<div class="form-group">
					  <label class="col-md-4 control-label" for="fromdate">Date range- From:</label>
					  <div class="col-md-8">
					    <input id="fromdate" name="fromdate" placeholder="Enter from date" class="form-control input-md" type="search">
					    
					  </div>
					</div>

					<!-- Search input-->
					<div class="form-group">
					  <label class="col-md-4 control-label" for="todate">To:</label>
					  <div class="col-md-8">
					    <input id="todate" name="todate" placeholder="Enter to date" class="form-control input-md" type="search">
					    
					  </div>
					</div>

					<!-- Select Basic -->
					<div class="form-group">
					  <label class="col-md-4 control-label" for="sortby">Sort By:</label>
					  <div class="col-md-8">
					    <select id="sortby" name="sortby" class="form-control">
					      <option value="1">Price low to high</option>
					      <option value="2">Price high to low</option>
					      <option value="3">Latest</option>
					      <option value="4">Popularity</option>
					    </select>
					  </div>
					</div>

					<!-- Text input-->
					<div class="form-group">
					  <label class="col-md-4 control-label" for="index">Start Index:</label>  
					  <div class="col-md-8">
					  <input id="index" name="index" placeholder="Enter index" class="form-control input-md" type="text">
					    
					  </div>
					</div>

					<!-- Text input-->
					<div class="form-group">
					  <label class="col-md-4 control-label" for="records">Search Records</label>  
					  <div class="col-md-8">
					  <input id="records" name="records" placeholder="Enter record" class="form-control input-md" type="text">
					    
					  </div>
					</div>

					</fieldset>
					</form>

				</div>

		</div>